<article class="container relative">
    <div id="status-code">{{ status-code }}</div>
    <h2 id="status-message">{{ status-message }}</h2>
    <br>

    <h4>{{ what-cause }}</h4>
    <ul>
        {{#each cause}}
        <li>{{ this }}</li>
        {{/each}}
    </ul>

    <h4>{{ what-action }}</h4>
    <ul>
        {{#each action}}
        <li>{{{ this }}}</li>
        {{/each}}
    </ul>

    <h4>{{ trouble }}</h4>
    <ul>
        <li>{{{ contact }}}</li>
    </ul>
</article>
