<div class="container">
    <div class="navbar-header">
        {{#if collapsible}}
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#{{ cid }}-navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        {{/if}}
        {{#if productName}}
        <span class="navbar-brand">
            {{ productName }}
        </span>
        {{/if}}
    </div>
    <div class="{{#if collapsible}}navbar-collapse collapse{{/if}}" role="navigation" id="{{ cid }}-navbar">
        <ul class="nav navbar-nav">
            {{#each primaryLinks}}
                {{#if this.href }}
                <li><a href="{{ this.href }}">{{#if this.text }}{{ this.text }}{{else}}Link{{/if}}</a></li>
                {{else}}
                <li class="nav-divider"></li>
                {{/if}}
            {{/each}}
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
                <a href="#" class="{{#if secondaryLinks}}dropdown-toggle" data-toggle="dropdown{{/if}}">
                    {{#if username}}
                        <span>{{ username }}</span>
                    {{else}}
                        <span>User Name</span>
                    {{/if}}
                    {{#if secondaryLinks}}
                    <b class="caret"></b>
                    {{/if}}
                </a>
                {{#if secondaryLinks}}
                <ul class="dropdown-menu">
                    {{#each secondaryLinks}}
                        {{#if this.href }}
                        <li><a href="{{ this.href }}">{{#if this.text }}{{ this.text }}{{else}}Link{{/if}}</a></li>
                        {{else}}
                        <li class="divider"></li>
                        {{/if}}
                    {{/each}}
                </ul>
                {{/if}}
            </li>
        </ul>
    </div>
</div>
